@import 'https://fonts.googleapis.com/css2?family=Quicksand&display=swap';
@import "./base.css";
@import "./colors.scss";
@import "./backgrounds.scss";

@mixin rounded-bottom(){
  border-bottom-left-radius:5px 10px;
  border-bottom-right-radius:5px 10px;
}
body{
  display: flex;
  flex-direction: column;
  background-color: $darkGrey;
  @include bg-texture-lines();
  color: $pink;
  // align-items: center;
  max-width:600px;
  margin: 0;
  margin-left:auto;
  margin-right:auto;
  min-height: 100vh;
}

a{
  text-decoration:none;
  color:inherit;
}

header{
  margin-top:30px;
  width:100%;
  text-align: center;
}

nav{
  width:100%;
  ul{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    gap:10px;
    list-style:none;
    padding:0;
    li{
      width: 200px;
      text-align:center;
      padding:10px;
      border-radius:4px;
      border:1px solid $pink;
      background-color: rgba($pink, .1);
    }
  }
}

.filter-box{
  margin:20px 0px;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  gap:20px;
  
  &>*{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
  
    overflow: hidden;
    @include rounded-bottom();
    &>*{
      transition: all 200ms;
    }
  }

  .title{
    font-size:1.3rem;
    border-bottom:1px solid $pink;
  }

  .block{

  }

  .order{

  }

  .search{

    input{
      padding:10px;
      background-color:rgba($pink, .1);
      border:none;
      font-size:2rem;
      @include rounded-bottom();
      transition: all 200ms;
      color:inherit;
      &:focus{
        outline:none;
        background-color:rgba($pink, .2);
        box-shadow:inset 0 -5px 0px $pink;
      }
      &:hover{
        background-color:rgba($pink, .2);

      }
    }
  }

  .status{
    // width:20px;
    // height:20px;
    // border:1px solid $pink;
    background-color:rgba($pink, .1);
    padding:5px 10px;
  }
  
  .status-done{
    background-color: $pink;
    color: $darkGrey;
  
  }
}

.todos{
  display:flex;
  flex-direction:column;
  gap:10px;
  .todo-item{
    position:relative;
    min-height:150px;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    @include rounded-bottom();
    
    border-top:1px solid $pink;
  
    display: flex;
    flex-direction: column;
  
    background-color: rgba($pink, .1);

    &:hover{
      background-color: rgba($pink, .2);

      .title{
        
      }

      .last-edit{
        background-color:rgba($pink, .8);
  
      }
    }


    .title{
      font-weight:500;
      // text-transform: capitalize;
  
      &::before{
        font-weight:500;
        content:'#';
      }

      .search-area{
        font-weight:500;
        // text-transform: capitalize;  
        border-radius:3px;
        padding:3px;
        text-decoration:none;
        background-color: rgba($pink, .6);
        color: darken($pink, 57%);
      }

      .search-area-exact{
        @extend .search-area;
        background-color: rgba($green, .7);
        color: darken($green, 57%);

      }
    }
  
    .description{
      flex-grow:1;
    }
  
    .last-edit{
      padding:7px 10px;
      border-radius:5px;
      line-height: 1em;
      // @include rounded-bottom();
      background-color:rgba($pink, .4);
      // background-color:$darkGrey;
      color: $darkGrey;

      position: absolute;
      right:10px;
      bottom:10px;
      z-index:2;

    }
  
    .status{
      // width:20px;
      height:20px;
      // border:1px solid $pink;
    }
  
    .status-done{
      background-color: $pink;
      color: $darkGrey;
    }
  }
  
}

