@import "colors";

.abol-alert-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;

    background-color: darken($green, 20%);
    border: 1px solid $green;
    box-shadow: 0 0 10px $green;
}

.abol-alert-box-ok {
    @extend .abol-alert-box;

    background-color: darken($green, 20%);
    border: 1px solid $green;
    box-shadow: 0 0 10px $green;
}

.abol-alert-box-warning {
    @extend .abol-alert-box;

    background-color: darken($yellow, 20%);
    border: 1px solid $yellow;
    box-shadow: 0 0 10px $yellow;
}

.abol-alert-box-danger {
    @extend .abol-alert-box;

    background-color: darken($pink, 20%);
    border: 1px solid $pink;
    box-shadow: 0 0 10px $pink;
}

