@import "colors";

.abol-alert-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;

    background-color: darken($green, 20%);
    border: 1px solid $green;
    box-shadow: 0 0 10px $green;
    z-index: 3;

    .title{
        
    }
}

.abol-alert-box-ok {
    @extend .abol-alert-box;

    background-color: darken($green, 40%);
    border: 1px solid $green;
    box-shadow: 0 0 100px $green;
    color: $green;
}

.abol-alert-box-warning {
    @extend .abol-alert-box;

    background-color: darken($yellow, 40%);
    border: 1px solid $yellow;
    box-shadow: 0 0 100px $yellow;
    color: $yellow;
}

.abol-alert-box-danger {
    @extend .abol-alert-box;

    background-color: darken($red, 40%);
    border: 1px solid $red;
    box-shadow: 0 0 100px $red,0 0 200px $red,0 0 300px $red,0 0 400px $red,0 0 500px $red;
    color: $red;
}

