@import "colors";
@import "reset";
@import 'https://fonts.googleapis.com/css2?family=Quicksand&display=swap';

* {
    font-family: Quicksand;
}

header {
    margin-top:20px;
    color: $cyan;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    position:sticky;
    top:5px;

    z-index: 2;
    backdrop-filter: blur(10px);

    padding: 10px;
    border-radius: 10px;
    background-color: rgba($cyan, .2);
    box-shadow: 0 0 200px  rgba($cyan, .3);
    margin-bottom: 20px;

    input {
        font-size: 1.4em;
        background-color: rgba($pink, .2);
        border: 1px solid $pink;
        padding: 10px;
        width: 298px;;
        border-radius: 5px;
        color: $pink;
        flex-grow: 1;
    }
    input::placeholder{
        color: rgba($pink, .7);
    }
    input:focus{
        outline: none;
        box-shadow: 0 0 10px $pink;
    }

    #enter_time {
        background-color: rgba($green, .2);
        border: 1px solid $green;
        color: $green;
    }
    #enter_time::placeholder{
        color: rgba($green, .7);
    }
    #enter_time:focus{
        outline: none;
        box-shadow: 0 0 10px $green;
    }

    button{
        border-radius: 5px;
        font-size: 3em;
        font-weight: bolder;
        width: 100%;
        flex-grow: 1;
        border: none;
        background-color: rgba($pink,.8);
        color: $darkGrey;
        cursor: pointer;
    }

    button:hover{
        background-color: $pink;
    }

    button:active{
        background-color: rgba($pink,.2);
        color: $pink;
    }
}

main{
    width: 100%;
    .present-time-container{
        width: 100%;

        table{
            width: 100%;

            .present-time-table{

                tr{
                    display: flex;
                    flex-wrap: wrap;
                    min-height: 40px;
                    th{
                        flex-grow: 1;
                        font-size: 2em;
                    }

                    // .enter-tim
                }

                .table-header{
                    .enter-time{
                        color: $green;
                    }
                    .exit-time{
                        color: $pink;
                    }
                }
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                .present-time{
                    // filter: drop-shadow(0 0 3px $green);
                    position: relative;
                    padding: 10px;
                    background-color: rgba($green, .1);
                    border-top: 1px solid $green;
                    border-radius: 0 0 3px 3px;
                    color: $green;
                    font-size: 2em;

                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 5px;
                    .enter-time{
                        width:50%;
                        box-sizing: border-box;
                        flex-grow: 1;
                        // border:1px solid $green;
                        // background-color: $green;
                        color: $green;
                        padding:0px 10px 0px 0px;
                        
                    }
                    .exit-time{
                        width:50%;
                        flex-grow: 1;
                        // border: 1px solid $pink;
                        color: $pink;
                        box-sizing: border-box;
                        
                    }
                    .submit-time{
                        // opacity: .3;
                        box-shadow:0 0 10px rgba($darkGrey, .3);
                        font-weight: bolder;
                        box-sizing: border-box;
                        width:200px;
                        padding:10px;
                        border-radius:4px;
                        font-size:1rem;
                        background-color: rgba($green, .3);
                        color: $darkGrey;
                        padding:10px;
                        position: absolute;
                        right:-5px;
                        bottom:-5px;
                        text-align: center;
                    }

                    &:hover{
                        .submit-time{
                            background-color: $green;
                        }
                    }
                }
            }
        }
    }
}